<p style="color: green"><%= notice %></p>

<h1>Documents</h1>
<h1><%= ENV['OPENAI_API_KEY'] %></h1>

<div id="documents">
  <% @documents.each do |document| %>
    <%= render document %>
    <p>
      <% if document.pdf_file.attached? %>
        <%= link_to "Show this document", url_for(document.pdf_file) %>
      <% end %>
    </p>
    <%= link_to "Show this document", document_path(document) %>
  <% end %>
</div>

<%= link_to "New document", new_document_path %>
